/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 html, body {
  background: linear-gradient(-90deg, #E9566B, #F4EFBB);
  text-align: center;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding:0;
  height: 100%;
  margin-right: auto;
  margin-left : auto;
}

header {
 background-color: #262626;
 height: 50px;
 font-size: 1.2rem;
}

footer{
 background-color:#262626;
 width: 100%;
 color: #fff;
 text-align: center;
 height: 100px;
 position: absolute;/*←絶対位置*/
 bottom: 0; /*下に固定*/
}

.top_menu li {
 float: left;
 padding: 15px;
 text-decoration: none;
}

.clearfix:after {
 content: "";
 display: block;
 clear: both;
}

.wrapper{
 min-height: 100vh;
 position: relative;
 padding-bottom: 120px;/*←footerの高さ*/
 box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}